<div class=" container">
  <div class="row">

    <h2>プロフィール編集ページ</h2>
  <%= form_for(@user) do |f| %>
    <div class="cox-xs-3">
      <%= f.label :プロフィール画像 %>
      <%= f.attachment_field :image %>
    </div>
    <div class="cox-xs-9">
      <%= f.label :ユーザー名 %>
      <%= f.text_field :name %>
      <%= f.label :紹介文 %>
      <%= f.text_area :introduction %>
      <%= f.submit "更新" %>
    </div>
  <% end %>
  </div>
    <h1>Users#edit</h1>
    <p>Find me in app/views/users/edit.html.erb</p>
  </div>
</div>