<div class="low">
  <p><%= notice %></p>
  <div class="col-xs-3">
    <div class="user">ユーザー情報</div>
    <%= render 'users/info', user: @user %>
    <% if @user == current_user %><br>
    <div class="name">
    <%= link_to "編集", edit_user_path(@user),class: "btn btn-primary btn-block" %>
    <% end %></div>
  </div>
  <div class="col-xs-9">
    <table class="table table-hover table-inverse">
      <thead>
        <tr class="info">
          <th>本のタイトル</th>
          <th>著者名</th>
          <th>ジャンル</th>
          <th>タグ</th>
          <th>レビュー</th>
        </tr>
      </thead>
      <tbody>
        <% @user.reviews.each do |r| %>
        <tr class="name">
          <td>
            <%= link_to book_path(r.book) do %>
              <%= r.book.name %>
            <% end %>
          </td>
          <td>
          <%= render 'books/author_list', author_list: r.book.author_list do %>
            <%= r.book.author_list %>
          <% end %>
          </td>
          <td>
          <%= render 'books/genre_list', genre_list: r.book.genre_list do %>
            <%= r.book.genre_list %>
          <% end %>
          </td>
          <td>
          <%= render 'books/tag_list', tag_list: r.book.tag_list do %>
            <%= r.book.tag_list %>
          <% end %>
          </td>
          <td>
            <%= link_to book_review_path(r.book, r) do %>
              <% r.title %>
            <% end %>
          </td>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
