<div class="row">
  <div class="col-xs-3">
    <%= render 'users/info', user: @user %>
    <% if @user == current_user %>
    <%= link_to "edit", edit_user_path(@user) %>
    <% end %>
  </div>
  <div class="col-xs-9">
    <table class="table table-hover table-inverse">
      <thead>
        <tr class="success">
          <th>本のタイトル</th>
          <th>著者名</th>
          <th>ジャンル</th>
          <th>タグ</th>
          <th>レビュー</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |b| %>
        <tr>
          <td><%= b.user.name %></td>
          <td>
          <%= render 'books/author_list', author_list: b.author_list do %>
            <%= b.author_list %>
          <% end %>
          </td>
          <td>
          <%= render 'books/genre_list', genre_list: b.genre_list do %>
            <%= b.genre_list %>
          <% end %>
          </td>
          <td>
          <%= render 'books/tag_list', tag_list: b.tag_list do %>
            <%= b.tag_list %>
          <% end %>
          </td>
          <td><%# b.reviews.text %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
