<div class="low">
  <div class="col-xs-3">
    <%= render 'users/info', user: @user %>
    <% if @user == current_user %>
    <%= link_to "edit", edit_user_path(@user),class: "btn btn-info btn-sm" %>
    <% end %>
  </div>
  <div class="col-xs-9">
    <table class="table table-hover table-inverse">
      <thead>
        <tr class="success">
          <th>本のタイトル</th>
          <th>著者名</th>
          <th>ジャンル</th>
          <th>タグ</th>
          <th>レビュー</th>
        </tr>
      </thead>
      <tbody>
        <% @review.each do |r| %>
        <tr>
          <td>
            <%= link_to book_path(r.id) do %>
              <%= r.book.name %>
            <% end %>
          </td>
          <td>
          <%= render 'books/author_list', author_list: r.book.author_list do %>
            <%= r.book.author_list %>
          <% end %>
          </td>
          <td>
          <%= render 'books/genre_list', genre_list: r.book.genre_list do %>
            <%= r.book.genre_list %>
          <% end %>
          </td>
          <td>
          <%= render 'books/tag_list', tag_list: r.book.tag_list do %>
            <%= r.book.tag_list %>
          <% end %>
          </td>
          <td>
            <%= link_to book_review_path(r.id) do %>
              <%= r.title %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
