<div class="low">
  <% if @book.errors.any? %>
    <h3><%= @book.errors.count %>error occurrence</h3><!--エラーメッセ-->
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>


  <div class="book_new">
    <%= form_for @book do |f| %>
    <div class="col-xs-6">
    <div class="book_write">本の情報記入欄</div><br>
    <table class="table table-bordered table-hover">
      <tr>
        <th class="info"><%= f.label :本のタイトル %></th>
        <th><%= f.text_field :name,:size => "40*5" %></th>
      </tr>
      <tr>
        <th class="info"><%= f.label :著者名 %></th>
        <th>
          <%= f.text_field :author_list,
              :size => "40*5", value: @book.author_list.join(',')
          %>
        </th>
      </tr>
      <tr>
        <th class="info"><%= f.label :ジャンル %></th>
        <th>
          <%= f.text_field :genre_list,
                :placeholder => "２つ以上書く場合は[ , ]で分けて記入して下さい",
                :size => "40*5", value: @book.genre_list.join(',')
          %><br>
          例：小説,ビジネス書
        </th>
      </tr>
      <tr>
        <th class="info"><%= f.label :タグ %></th>
        <th>
          <%= f.text_field :tag_list,
              :placeholder => "２つ以上書く場合は[ , ]で分けて記入して下さい",
              :size => "40*5", value: @book.tag_list.join(',')
          %><br>
          例：ミステリー,ホラー,Ruby
        </th>
      </tr>
    </table>
    </div>
    <div class="review_new">レビュー記入欄</div><br>
      <div class="col-xs-6">
        <%= f.fields_for :reviews do |r| %>
            <%= r.label :レビュータイトル %>
            <%= r.text_field :title,:size => "50*5" %>
            <%= r.label :本文 %><br>
            <%= r.text_area :text,size: "65x7" %>
            <%= r.hidden_field :user_id, value: current_user.id %> <%# hidden_fieldを使ってuser_idをreviewに入れる%>
        <% end %>
      </div>
    <%= f.submit "投稿",class: "btn btn-primary btn-block"%>
    <% end %>
  </div>
</div>