<div class="container">
  <div class="low">
    <%= form_for @book do |f| %>
        <%= f.label :本のタイトル %>
        <%= f.text_field :name %>
        <%= fields_for @author do |a| %>　<%# fields_forメソッドで異なるモデルにデータを送信する%>
          <%= a.label :著者名 %>
          <%= a.text_field :name %>
        <% end %>
        <%= fields_for @review do |r| %>
          <%= r.label :レビュータイトル %>
          <%= r.text_field :title %>
          <%= r.label :本文 %>
          <%= r.text_area :text %>
        <% end %>
      <%= f.submit "投稿"%>
    <% end %>
  </div>
</div>

<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>
