<div class="low">
  <% if @book.errors.any? %>
    <h3><%= @book.errors.count %>error occurrence</h3><!--エラーメッセ-->
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @review.errors.any? %>
    <h3><%= @review.errors.count %>error occurrence</h3><!--エラーメッセ-->
    <ul>
      <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="col-xs-10">
  <%= form_for @book do |f| %>
  <table class="table table-bordered table-hover">
    <tr>
      <th class="info"><%= f.label :本のタイトル %></th>
      <th><%= f.text_field :name,:size => "50*5" %></th>
    </tr>
    <tr>
      <th class="info"><%= f.label :著者名 %></th>
      <th>
        <%= f.text_field :author_list,
            :size => "50*5", value: @book.author_list.join(',')
        %>
      </th>
    </tr>
    <tr>
      <th class="info"><%= f.label :ジャンル %></th>
      <th>
        <%= f.text_field :genre_list,
              :placeholder => "２つ以上書く場合は[ , ]で分けて記入して下さい",
              :size => "50*5", value: @book.genre_list.join(',')
        %>
        例：小説,ビジネス書
      </th>
    </tr>
    <tr>
      <th class="info"><%= f.label :タグ %></th>
      <th>
        <%= f.text_field :tag_list,
            :placeholder => "２つ以上書く場合は[ , ]で分けて記入して下さい",
            :size => "50*5", value: @book.tag_list.join(',')
        %>
        例：ミステリー,ホラー,Ruby
      </th>
    </tr>
  </table>
  <div class="low">
    <div class="col-xs-8">
      <%= fields_for @review do |r| %>
          <%= r.label :レビュータイトル %>
          <%= r.text_field :title,:size => "50*5" %><br>
          <%= r.label :本文 %><br>
          <%= r.text_area :text,:size => "90*50" %>
      <% end %>
    </div>
  </div>
  <%= f.submit "投稿",class: "btn btn-primary btn-block"%>
  <% end %>
  </div>
</div>