<div class="low">
  <div class="book_show_title">'<%= @book.name %>'の詳細</div>
  <div class="book_show">
  <div class="col-xs-5">
  <table class="table table-hover table-inverse">
    <tbody>
      <tr>
        <td class="info">本のタイトル</td>
        <td><%= @book.name %></td>
      </tr>
      <tr>
        <td class="info">著者名</td>
        <td><%= @book.author_list %></td>
      </tr>
    </tbody>
  </table>
        <% if @book.favorited_by?(current_user) %>
          <%= link_to "マイリストから外す",
              book_favorites_path(@book, redirect_id: 0),
              method: :delete,class: "btn btn-danger btn-sm"
          %>
        <% else %>
          <%= link_to "マイリストに追加",
              book_favorites_path(@book, redirect_id: 0),
              method: :post,class: "btn btn-primary btn-sm"
          %>
        <% end %>
  </div>
  </div>
<%# レビュー一覧表示%>

  <div class="col-xs-7">
  <div class="book_show_title">レビュー一覧</div>
  <div class="book_show">
  <table class="table table-hover table-inverse">
    <thead>
      <tr class="info">
        <th>ユーザー</th>
        <th>レビュー</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |r| %>
      <tr>
        <td>
          <%= link_to user_path(r.user.id) do %>
            <%= attachment_image_tag(r.user, :image, :fill, 70, 70,
                format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg") %>
            <%= r.user.name%>
          <% end %>
        </td>
        <td><%= link_to book_review_path(r.book, r) do %> <%# @bookでbook_idをrでreview_idを引数として持ってくる%>
          <%= r.title %><% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class ="paginate">
    <%= paginate @reviews, theme: 'custom_theme' %>
  </div>
  </div>
</div>
<%# レビュー一覧表示%>

