<div class="container">
  <div class="low">
    <div class="col-xs-6">
    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td class="success">本のタイトル</td>
          <td><%= @book.name %></td>
        </tr>
        <tr>
          <td class="success">著者名</td>
          <td><%= @book.author.name %></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <%# レビュー一覧表示%>
  <div class="low">
    <div class="col-xs-9">
    <h2>レビュー一覧</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>ユーザー</th>
          <th>レビュー</th>
        </tr>
      </thead>
      <tbody>
        <% @book.reviews.each do |r| %>
        <tr>
          <td>
            <%= attachment_image_tag(r.user, :image, :fill, 100, 100,
                format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg") %>
            <%= r.user.name%>
          </td>
          <td><%= link_to book_review_path(r) do %>
            <%= r.title %><% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
  <%# レビュー一覧表示%>
</div>

<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
