<p><font color="red"><%= flash[:notice] %></font></p>
<font color="red"><%= alert %></font>

<div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="col-xs-9 col-xs-offset-1">
    <h2>ログイン画面</h2>
    <table class="table table-bordered">
      <tr>
        <th class="info">
          <%= f.label :ユーザー名 %>
        </th>
        <th>
          <div class="field">
            <%= f.text_field :name, autofocus: true,:size => "30*30" %>
          </div>
        </th>
      </tr>

      <tr>
        <th class="info">
          <%= f.label :パスワード %>
        </th>
        <th>
          <%= f.password_field :password, autocomplete: "current-password",:size => "50*30" %>
        </th>
      </tr>
    </table><br>
  </div>
  <div class="row">
    <div class="actions col-xs-2 col-xs-offset-5">
      <%= f.submit "ログイン",class:"btn btn-primary" %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <% end %>
</div>