<div class="container">
  <div class="low">
    <%= form_for(@review, url: book_review_path) do |r| %>
      <%= r.label :タイトル %>
      <%= r.text_field :title %><br>
      <%= r.label :本文 %>
      <%= r.text_area :text %>
      <%= r.submit "更新" %>
    <% end %>
  </div>
</div>

<h1>Reviews#edit</h1>
<p>Find me in app/views/reviews/edit.html.erb</p>
