<div class="container">
  <div class="low">
    <div class="col-xs-3">
    <%# render 'user/info', user: @user %>
    </div>
    <div class="col-xs-9">
      <table class="table table-hover table-inverse">
        <div class="col-xs-4">
        <tr>
          <td class="success">本のタイトル</td>
          <td><%= @review.book.name %></td>
        </tr>
        </div>
        <tr>
          <td class="success">レビュータイトル</td>
          <td><%= @review.title %></td>
        </tr>
      </table>
      <h4>レビュー本文</h4>
      <%= @review.text %><br>
      <%= link_to "削除", book_review_path(@review.id), method: :delete %>
      <%= link_to "編集", edit_book_review_path(@review) %>
    </div>
  </div>
</div>

<h1>Reviews#show</h1>
<p>Find me in app/views/reviews/show.html.erb</p>
