<!DOCTYPE html>
<html>
  <head>
    <title>BookBridge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>
  </head>
  <%# headerの記載 %>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Book-Bridge</span>
        </nav>
      </div>
        <div id="sp-menu">
          <h2>MENU</h2>
          <% if user_signed_in? %>
            <div class="menu"><%= link_to current_user.name, user_path(current_user.id) %></div>
            <div class="menu"><%= link_to new_book_path do %>
              <i class="glyphicon glyphicon-pencil"></i>
              新規投稿
            <% end %></div>
            <div class="menu"><%= link_to users_path do %>
              <i class="glyphicon glyphicon-user"></i>
              ユーザー一覧
            <% end %></div>
            <div class="menu"><%= link_to books_path do %>
              <i class="glyphicon glyphicon-book"></i>
              本一覧
            <% end %></div>
            <div class="menu"><%= link_to destroy_user_session_path, method: :delete do %>
              <i class="glyphicon glyphicon-log-out"></i>
              ログアウト
            <% end %></div>
          <% else %>
            <div class="menu"><%= link_to root_path do %>
              <i class="glyphicon glyphicon-home home"></i>
              トップページ
            <% end %></div>
            <div class="menu"><%= link_to new_user_registration_path do %>
              <i class="glyphicon glyphicon-edit"></i>
              新規登録
            <% end %></div>
            <div class="menu"><%= link_to new_user_session_path do %>
              <i class="glyphicon glyphicon-log-in"></i>
              ログイン
            <% end %></div>
          <% end %>
      <% if user_signed_in? %>
      <div class="search">
        <%= search_form_for(@search, url:book_search_path) do |f| %>
          <div class="tag"><%= f.label :本のタイトル %></div>
          <%= f.search_field :name_cont, placeholder: '本のタイトルで検索' %>
          <div class="tag"><%= f.label :著者名 %></div>
          <%= f.search_field :authors_name_cont, placeholder: '著者名で検索' %><br>
          <div class="tag"><%= f.label :ジャンル %></div>
          <%= f.search_field :genres_name_cont, placeholder: 'ジャンルで検索' %>
          <div class="tag"><%= f.label :タグ %></div>
          <%= f.search_field :tags_name_cont, placeholder: 'タグで検索' %><br>
          <%= f.submit '検索',class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
      <% end %>
        </div>

      <div id="hm-icon">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>


    </header>
    <%# headerの記載 %>
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
    <%# footerの記載%>
    <footer>
      <div class="container">
        <footer class="nav navbar-nav navbar-right">
          <%= link_to "当サイトについて", about_path %>
        </footer>
      </div>
    </footer>
    <%# footerの記載%>
</html>
